.bg-primary {
    background-color: #417dec !important;
    color: rgb(15, 197, 106);
}

.navbar-brand {
    color:rgb(255, 255, 255);
}

.navbar-toggler-icon {
    color: rgb(0, 0, 0);
    z-index: -1;
    /* background-color: black; */
}

.nav-item {
    color:white;
    text-align: center;
}

a {
    color:white;
}

a:hover {
    color: black;
}

.profile {
    width: 65%;
    margin: 0 auto;
}

p {
    display: inline-block;
    color: black;
}